<div class="splash">
<h1>CoderPay</h1>

<div class = "log-in-container">
    <%= link_to "Log in", new_user_session_path, class: "button-splash log " %>
    <%= link_to "sign in", new_user_registration_path, class: "button-splash " %>
</div>
</div>
